<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item"> <i class="code icon"></i>Blog Site</div>
    <a href="/" class="item">HOME</a>
    <a href="/blogs/new" class="item">Add Post</a>
  </div>
</div>
